Добрый день!

Спасибо, что создали вакансию с помощью Twikle!

Для подтверждения вакансии перейдите по ссылке ниже:

<%= confirm_email_job_url(@job.confirm_token) %>

Подробности вакансии:
Название: <%= @job.title %>
Компания: <%= @job.company_title %>

----------------------------------------------------

Если Вы не создавали вакансию на нашем сайте, то не реагируйте на это письмо.
