p Добрый день!

p Спасибо, что создали вакансию с помощью Twikle!

table
  tr
    td Для подтверждения вакансии перейдите по
    td = link_to 'этой ссылке', confirm_email_job_url(@job.confirm_token)

br
b Подробности вакансии:
table
  tr
    td Название:
    td = @job.title
  tr
    td Компания:
    td = @job.company_title
hr
p Если Вы не создавали вакансию на нашем сайте, то не реагируйте на это письмо.
