= content_for(:title, "#{t('.remote_work')} #{@job_category.link_text}")

.container
  .row
    .col-lg-3.col-md-4.col-sm-4.co-xs-12.filter-form
      = render 'filters/filter_form', job_cat: @job_category
    .col-xs-12.col-sm-7.col-md-7.col-lg-6.home-page-link
      = link_to "← #{t('.back_to_main_page')}", root_path
      h1.job-category-title-show-page = "#{t('.remote_work')} #{@job_category.link_text} - #{t('.vacancies')}"

      - if params[:by_category] || params[:salary_from] || params[:by_tags] || params[:by_employment] || params[:query]
        h3 = "Найдено вакансий: #{@approved_jobs.total_count}"
      - else
        p = "#{t('.describe_page_text')} #{@job_category.link_text}."
      br
      hr
      br
      - @approved_jobs.each do |job|
        = render 'jobs/custom_item', job: job

      .pagination-paddings
        = paginate @approved_jobs, left: 1, right: 1
      - if @job_category.description_visible?
        h2.page-description-title
          = @job_category.description_title
        .page-description-text
          == @job_category.description
      br
      .job-category-links
        td = link_to("← #{@job_category.previous_job_category.title}", @previous_job_category)
        td &nbsp|&nbsp
        td = link_to("#{@job_category.next_job_category.title} →", @next_job_category)
