= form_tag search_path, method: 'get', class: 'navbar-search-form', role: 'search'
  .form-group
    .input-group.search-form-paddings
      = text_field_tag :query, params[:query], class: 'form-control nav-search-field', \
            placeholder: "Java-программист, переводчик...", \
            data: { url: search_path }, value: params[:controller] == 'search' ? '' : params[:query], value: params[:query]
      span.input-group-btn
        = button_tag 'Найти', type: 'submit', class: 'btn btn-default btn-info search-button'
