.container
  .row
    .col-xs-12.col-sm-9.col-md-6.col-lg-6.col-md-offset-1.col-lg-offset-1
      = form_tag search_path, method: 'get', class: 'navbar-search-form', role: 'search'
        .form-group
          .input-group.search-form-paddings
            = text_field_tag :query, params[:query], class: 'form-control nav-search-field', \
                  placeholder: "Java-программист...", \
                  data: { url: search_path }, value: params[:controller] == 'search' ? '' : params[:query]
            search-form-paddings.input-group-btn
              = button_tag 'Искать', type: 'submit', class: 'btn btn-default btn-info'
