= content_for(:title, 'Поиск удаленной работы, удаленная работа, удаленные вакансии')

.container
  .row
    .col-lg-3.col-md-4.col-sm-4.co-xs-12.filter-form
      = render 'filters/filter_form'

    .col-lg-6.col-md-7.col-sm-7.home-page-link
      = link_to "← #{t('.back_to_main_page')}", root_path

      - if params[:query].blank?
        h3 = "Найдено вакансий: #{@all_published_jobs.total_count}"
        br
        hr
        br
        - @all_published_jobs.each do |job|
          = render 'jobs/custom_item', job: job
        .col-xs-9.col-sm-9.col-md-8.col-lg-7.col-lg-offset-2.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.pagination-paddings
          = paginate @all_published_jobs, left: 1, right: 1
      - elsif @search_results.any?
        .row
          .col-lg-12
            h3 = "По запросу <em><b>#{params[:query]}</em></b> найдено вакансий: #{@search_results.total_count}".html_safe
            br
            hr
        - @search_results.each do |result|
          = render 'jobs/custom_item', job: result
        br
        .col-xs-9.col-sm-9.col-md-8.col-lg-7.col-lg-offset-2.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.pagination-paddings
          = paginate @search_results, left: 1, right: 1
      - else
        .row
          .col-lg-12
            h3 = "По запросу <em><b>#{params[:query]}</em></b> найдено вакансий: #{@search_results.total_count}".html_safe
            br
            p Попробуйте изменить параметры поиска.
      br
