= content_for(:title, t('.title'))

.containter
  .row
    .col-lg-10.col-md-11.col-sm-11.col-xs-11.col-lg-offset-2.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
      = link_to "← #{t('.back_to_main_page')}", root_path
      h1 = t('.index_page_title')

  br
  .row
    .col-lg-10.col-md-1.col-sm-11.col-xs-11.col-lg-offset-2.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
      - @articles.each do |article|
        p = link_to article.title, article_path(article)
