= content_for(:title, "#{@article.seo_title}")

.containter
  .row.breadcrumbs-paddings
    .col-lg-6.col-md-11.col-sm-11.col-xs-11.col-lg-offset-2.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
      tr
        td = link_to "← #{t('.back_to_main_page')}", root_url
        td &nbsp|&nbsp
        td = link_to "← #{t('.back_to_all_articles')} →", articles_url
      .col-lg-8

  .row
    .col-lg-6.col-md-11.col-sm-11.col-xs-11.col-lg-offset-2.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
      h1 = @article.title

  br
  .row
    .col-lg-6.col-md-11.col-sm-11.col-xs-11.col-lg-offset-2.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.article_content
      == @article.content

  br
  .row
    .col-lg-6.col-md-11.col-sm-11.col-xs-11.col-lg-offset-2.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
      td = link_to("← #{@article.previous_article.title}", @previous_article)
      td &nbsp|&nbsp
      td = link_to("#{@article.next_article.title} →", @next_article)
