= content_for(:title, t('.title'))

.container
  .row
    .col-lg-4.col-md-4.col-sm-10.col-xs-12
      h1.new-page-title = t '.new_page_title'
      br
      p = t '.contact_us_message'

    .col-lg-7.col-md-8.col-sm-10.col-xs-12
      = bootstrap_form_for @contact_message do |f|
        h3.h3-new-page-margins = t '.your_question'
        br
        .row
          .col-lg-3.col-md-4.col-sm-10.col-xs-12
            = f.label t('.your_name'), class: 'new-page-columns-styles'
          .col-lg-8.col-md-8.col-sm-10.col-xs-12
            = f.text_field :name, hide_label: true, class: 'form-borders'

        .row
          .col-lg-3.col-md-4.col-sm-10.col-xs-12
            = f.label t('.your_question'), class: 'new-page-columns-styles'
          .col-lg-8.col-md-8.col-sm-10.col-xs-12
            = f.text_area :message, hide_label: true, rows: 10, class: 'form-borders text-area-height'

        .row
          .col-lg-3.col-md-4.col-sm-10.col-xs-12
            = f.label t('.your_email'), class: 'new-page-columns-styles'
          .col-lg-8.col-md-8.col-sm-10.col-xs-12
            = f.text_field :email, hide_label: true, class: 'form-borders'

        .row
          .col-lg-offset-3.col-md-offset-4.col-lg-12
            = f.submit t('.submit'), class: 'btn btn-default btn-info submit-form-button'
