.row
  .col-xs-9.col-sm-10.col-md-9.col-lg-9.item-margin
    - if job.unique?
      = link_to job.title, job_url(job), class: 'show-page-link'
    - else
      = link_to job.title, job_url(job), class: 'show-page-link', rel: 'nofollow'
    td &nbsp
    = job.salary_for_views

    .company-name-in-item
      = job.company_title
  .col-sm-2.col-md-3.col-lg-3
    .createon-date
      = Russian::strftime(job.created_at, "%e %B")
  .col-xs-3.createon-date-small-width
    = Russian::strftime(job.created_at, "%d.%m")

.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.tags
    = raw job.tags.map { |tag| link_to tag.name, jobs_path(params.merge({tag: tag.name}).permit(:tag)), rel: 'nofollow' }.join(' • ')

.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.item-hr
    hr
