- if params[:tag]
  = content_for(:title, "#{t('.title')} #{params[:tag]}")
- else
  = content_for(:title, 'Все вакансии')

.container
  .row
    .col-lg-3.col-md-4.col-sm-4.co-xs-12.filter-form
      = render 'filters/filter_form'

    -  unless request.query_string.blank?
      .col-sm-7.col-md-7.col-lg-5.home-page-link
        = link_to "← #{t('.back_to_main_page')}", root_path
        br
        - if params[:tag]
          h1.tag-h1 = "Навык: #{params[:tag]}"
        - elsif params[:by_category] || params[:salary_from] || params[:by_tags] || params[:by_employment] || params[:query]
          h3 = "Найдено вакансий: #{@jobs.total_count}"
        br
      .col-lg-1.col-md-1.col-sm-1
    .col-lg-6.col-md-7.col-sm-7
      - if @jobs.any?
        hr
      - else
        p Попробуйте изменить параметры поиска.
      - @jobs.each do |job|
        = render 'jobs/custom_item', job: job

  .row
    .col-xs-9.col-sm-9.col-md-8.col-lg-7.col-lg-offset-3.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.pagination-paddings
      = paginate @jobs, left: 1, right: 1
