= content_for(:title, 'Создание новой вакансии')

.container
  .row
    .col-lg-4.col-md-4
      h1.new-page-title Добавление новой вакансии
    .col-lg-8.col-md-8
      = bootstrap_form_for @job do |f|
        h2.h2-new-page-margins Расскажите о вашей вакансии
        .row
          .col-lg-8.col-lg-offset-3
            = f.alert_message 'Пожалуйста, исправьте ошибки ниже:', error_summary: false
        .row
          .col-lg-3
            = f.label 'Название *', class: 'new-page-columns-styles'
          .col-lg-8
            = f.text_field :title, placeholder: 'Например, Java-программист', hide_label: true, class: 'form-borders'

        .row
          .col-lg-3
            = f.label 'Категория*', class: 'new-page-columns-styles'
          .col-lg-8
            .form-borders
              = f.collection_select :job_category_id, JobCategory.order('priority DESC'),
                :id, :title, include_blank: true, hide_label: true, class: 'form-borders'
                / TODO: fix css style, doesn't work

        .row
          .col-lg-3
            = f.label 'Описание работы *', class: 'new-page-columns-styles'
          .col-lg-8
            = f.trix_editor :description, hide_label: true, class: 'form-borders'

        .row
          .col-lg-3
            = f.label :tag_list, 'Теги', class: 'new-page-columns-styles'
          .col-lg-8
            = f.collection_select :tag_list, ActsAsTaggableOn::Tag.all.order(:name), :name, :name, {hide_label: true}, html_options = {class: 'js-example-basic-multiple', multiple: 'multiple'}

        .row
          .col-lg-3
            = f.label 'Как откликнуться?*', class: 'new-page-columns-styles'
          .col-lg-8
            .div
              = f.trix_editor :how_to_apply, placeholder: 'Пример: отправить резюме на anna@example.com', hide_label: true, class: 'form-borders'

        .row
          .col-lg-3
            = f.label 'Оклад от', class: 'new-page-columns-styles'
          .col-lg-8
            = f.text_field :salary_min, placeholder: '50000', hide_label: true, class: 'form-borders'

        .row
          .col-lg-3
            = f.label 'Оклад до', class: 'new-page-columns-styles'
          .col-lg-8
            = f.text_field :salary_max, placeholder: '50000', hide_label: true, class: 'form-borders'
        .row
          .col-lg-3
            = f.label 'Валюта', class: 'new-page-columns-styles'
          .col-lg-8
            = f.select :currency, [['Руб.', 'RUR'], ['USD', 'USD'], ['EUR', 'EUR']], hide_label: true, class: 'form-borders'

        .row
          .col-lg-11
            .new-page-line
              hr

        h2 Расскажите о вашей компании
        br
        .row
          .col-lg-3
            = f.label 'Название *', class: 'new-page-columns-styles'
          .col-lg-8
            = f.text_field :company_title, placeholder: 'ООО "Арена Плюс"', hide_label: true, class: 'form-borders'

        .row
          .col-lg-3
            = f.label 'Сайт', class: 'new-page-columns-styles'
          .col-lg-8
            = f.text_field :company_url, placeholder: 'www.example.com', hide_label: true, class: 'form-borders'

        .row
          .col-lg-3
            = f.label 'Местоположение', class: 'new-page-columns-styles'
          .col-lg-8
            = f.text_field :office_location, placeholder: 'Москва', hide_label: true, class: 'form-borders'

        .row
          .col-lg-3
            = f.label 'Email *', class: 'new-page-columns-styles'
          .col-lg-8
            = f.text_field :email, placeholder: 'anna@example.com', hide_label: true, class: 'form-borders'

        .row
          .col-lg-8.col-lg-offset-3
            = f.submit 'Создать работу', class: 'btn btn-default btn-info submit-form-button'
