= content_for(:title, "#{@job.title} в #{@job.company_title}")

.container
  .row
    .col-xs-12.col-sm-9.col-md-6.col-lg-6.col-md-offset-1.col-lg-offset-1
      tr
        td = link_to 'Главная', root_path
        td &nbsp>&nbsp
        td = link_to "Работа #{@job.job_category.link_text}", job_category_url(@job.job_category)
      .col-lg-8

.container
  .row
    .col-sm-9.col-md-6.col-lg-6.col-md-offset-1.col-lg-offset-1
      h1 = @job.title
      - if @job.expired?
        .archived-job
          = 'Вакансия в архиве'
      = raw @job.tags.map { |tag| link_to tag.name, jobs_path(request.query_parameters.merge(tag: tag.name)) }.join(' • ')
      br
      .show-page-createon-date = "Опубликовано #{Russian::strftime(@job.created_at, "%e %B")}"

      .header-show-page.header-show-page-margins О компании:&nbsp
      td
        b Название:&nbsp
      td = @job.company_title
      - if @job.office_location?
        br
        td
          b Офис:&nbsp
        td = @job.office_location
      - if @job.company_url?
        br
        td
          b Информация в сети:&nbsp
        td
          = link_to @job.company_url, url_with_protocol(@job.company_url), rel: 'nofollow', :target => '_blank'
      hr.show-page-hr
      table
        tr
          td
            b Вознаграждение:&nbsp
            = @job.salary_for_views
        tr
          td
            b Тип занятости:&nbsp
            - if @job.employment == 'full'
              = 'полная'
            - elsif @job.employment == 'part'
              = 'частичная'
            - elsif @job.employment == 'project'
              = 'проектная работа'
            - elsif @job.employment == 'probation'
              = 'стажировка'
            - elsif @job.employment == 'volunteer'
              = 'волонтерство'
            - else
              = 'не указан'

      br
      td == add_nofollow(@job.description)

      hr.show-page-hr
      .apply
        .header-show-page Как откликнуться
        td == add_nofollow(@job.how_to_apply)

    .col-lg-4.col-md-4.col-lg-offset1.col-md-offset-1
      .subscribe-job-show-page-text = "Получай первым самые актуальные вакансии #{@job.job_category.link_text}. <br>#{link_to 'Подписаться', new_subscription_path, class: 'subscribe-show-page-link'}".html_safe
  br
  .row
    .col-xs-12.col-sm-9.col-md-6.col-lg-6.col-md-offset-1.col-lg-offset-1
      td = link_to("← #{@job.previous_job.title}", @previous_job)
      td &nbsp|&nbsp
      td = link_to("#{@job.next_job.title} →", @next_job)
