= content_for(:title, 'Поиск удаленной работы, удаленная работа, удаленные вакансии')

.container
  .row
    .col-lg-3.col-md-4.col-sm-4.co-xs-12.filter-form.hidden-xs
      = render 'filters/filter_form'

    .col-xs-12.col-sm-7.col-md-7.col-lg-6.home-page-link
      - if request.query_string.present?
        = link_to "← #{t('.back_to_main_page')}", root_path
        br
        - if params[:tag]
          h1.tag-h1 = "Навык: #{params[:tag]}"
        - elsif params[:by_category] || params[:salary_from] || params[:by_tags] || params[:by_employment] || params[:query]
          h3 = "Найдено вакансий: #{@jobs.total_count}"
        br
        .col-lg-1.col-md-1.col-sm-1
        - if @jobs.any?
          hr
        - else
          p Попробуйте изменить параметры поиска.
        - @jobs.each do |job|
          = render 'jobs/custom_item', job: job

        .col-xs-9.col-sm-9.col-md-8.col-lg-7.col-lg-offset-2.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.pagination-paddings
          = paginate @jobs, left: 1, right: 1

      - else
        - @job_categories.each do |category|
          - if category.any_confirmed_approved_jobs?(category)
            h3.job-category-home-page = link_to "Удаленная работа #{category.link_text}", job_category_url(category), class: 'home-page-h2-styles'
            hr
            - category.jobs.published.not_expired.limit(3).sorted.join_tags.each do |job|
              = render 'jobs/item', job: job

            - if category.approved_jobs_count(category) > 3
              .row
                .col-lg-12
                  .link-to-index-page
                    = link_to "Вся удаленная работа #{category.link_text} \
                      (#{category.approved_jobs_count(category)})",
                      job_category_url(category)
                  hr

      .home-page-h3
        h2 = @text_block.title
      .page-description-text
        == @text_block.content
