= render 'search/search_nav'

.row
  .col-lg-3.col-md-1.col-sm-2.col-xs-1
  .col-lg-6.col-md-10.col-sm-10.col-xs-8
    .error-page-message
      p Что-то пошло не так во время обработки Вашего запроса.
