= content_for(:title, "#{t('.title')}")

.container
  .row
    .col-lg-4.col-md-4
      h1.new-page-title = t('.new_page_title')
    .col-lg-8.col-md-8
      = bootstrap_form_for @subscription do |f|
        h2.h2-new-page-margins = t('.subscribe_now')
        .row
          .col-lg-8.col-lg-offset-3
            = f.alert_message t('.validation_error'), error_summary: false
        .row
          .col-lg-3
            = f.label t('.email'), class: 'new-page-columns-styles'
          .col-lg-8
            = f.text_field :email, placeholder: 'anna@example.com', hide_label: true, class: 'form-borders'
        br
        .row
          .col-lg-3
            = f.label t('.professions'), class: 'new-page-columns-styles subscription-label-paddings'
          .col-lg-8
            = f.collection_check_boxes :job_category_ids, JobCategory.order('priority DESC'), :id, :title, hide_label: true

        br
        .row
          .col-lg-3
            = f.label t('.programming_languages'), class: 'new-page-columns-styles'
          .col-lg-8
            = f.collection_select :programming_list, ActsAsTaggableOn::Tag.joins(:taggings).where('taggings.context' => 'programmings').uniq, :name, :name, {hide_label: true}, html_options = {class: 'js-example-basic-multiple', multiple: 'multiple'}

        br
        .row
          .col-lg-3
            = f.label t('.salary_from'), class: 'new-page-columns-styles'
          .col-lg-8
            = f.text_field :salary, placeholder: '70000', hide_label: true, class: 'form-borders'

        br
        .row
          .col-lg-3
            = f.label t('.frequency'), class: 'new-page-columns-styles subscription-label-paddings'
          .col-lg-8
            = f.radio_button :frequency, 1, label: "Каждый день", checked: true
            = f.radio_button :frequency, 7, label: "Раз в неделю"

        br
        .row
          .col-lg-8.col-lg-offset-3
            = f.check_box :news_receiver, label: t('.news_receive_frequency'), checked: true

        .row
          .col-lg-8.col-lg-offset-3
            = f.submit t('.submit'), class: 'btn btn-default btn-info submit-form-button'
