p Привет!

p Спешим сообщить, что у нас есть новые вакансии, которые могут быть тебе интересны.

- @jobs_to_send.each do |j|
  hr style='color:lightgrey;height:1px;border:none;background-color:lightgrey;width:50%;align:left;margin-left:0;margin-bottom:20px;'
  b = link_to j.title, job_url(j), style: 'color:#39cb; text-decoration:none;'
  p style='margin-top:0px;margin-bottom:0px;' = "<b>Компания:</b> #{j.company_title}".html_safe
  p style='margin-top:0px;margin-bottom:0px;' = "<b>Вознаграждение:</b> #{j.salary_for_views}".html_safe
  p style='margin-top:10px;margin-bottom:20px;' = j.try(:promo_text)

hr style='color:lightgrey;height:1px;border:none;background-color:lightgrey;'
= link_to 'Отписаться от рассылки', unsubscribe_subscription_url(@subscriber.unsubscribe_hash), style: 'color:grey; font-size:14px;margin-top:10px;'
p style='color:grey; font-size:14px;margin-top:10px;' © Twikle


