p Привет!

p Спешим сообщить, что у нас есть новости, которые могут быть тебе интересны.

- @articles_to_send.each do |article|
  hr style='color:lightgrey;height:1px;border:none;background-color:lightgrey;align:left;margin-left:0;margin-bottom:20px;'
  p = link_to "#{article.title}", article_url(article), style: 'color:#39cb; text-decoration:none;'
  p = article.try(:promo_text)

hr style='color:lightgrey;height:1px;border:none;background-color:lightgrey;'
= link_to 'Отписаться от рассылки', unsubscribe_subscription_url(@subscriber.unsubscribe_hash), style: 'color:grey; font-size:14px;margin-top:10px;'
p style='color:grey; font-size:14px;margin-top:10px;' © Twikle
