Добрый день!

Спешим сообщить, что у нас есть новые вакансии, которые могут быть Вам интересны.

<%= @jobs_to_send.each do |j| %>
  <%= link_to "#{j.title}", job_url(j) %>
  <%= j.company_title %>
<% end %>
------------------------------

Это письмо создано автоматически. Пожалуйста, не отвечайте на него.
