p Привет!
p = "Ты подписался на следующие <b>виды рассылок</b>:".html_safe
- if @subscription.frequency == 1
  p - ежедневные вакансии;
- elsif @subscription.frequency == 7
  p - еженедельные вакансии;
- else
  return

- if @subscription.news_receiver
  p - еженедельные новости;
hr style='color:lightgrey;height:1px;border:none;background-color:lightgrey;width:50%;align:left;margin-left:0;margin-bottom:20px;'

b Профессии:

- if @subscription.job_categories.any?
  - @subscription.job_categories.each do |cat|
    p style='margin-bottom:0px;' = "- #{cat.title.downcase};"
hr style='color:lightgrey;height:1px;border:none;background-color:lightgrey;width:50%;align:left;margin-left:0;margin-bottom:20px;'

- if @subscription.programming_list.any?
  b Языки программирования:
  - @subscription.programming_list.each do |lang|
    p style='margin-bottom:0px;' = "- #{lang};"
  hr style='color:lightgrey;height:1px;border:none;background-color:lightgrey;width:50%;align:left;margin-left:0;margin-bottom:20px;'

- if @subscription.salary
  p Желаемая заработная плата - от #{@subscription.salary} рублей.

  hr style='color:lightgrey;height:1px;border:none;background-color:lightgrey;width:50%;align:left;margin-left:0;margin-bottom:20px;'
table
  tr
    td Для подтверждения email перейдите по
    td = link_to 'этой ссылке', confirm_email_subscription_url(@subscription.confirm_token)

hr style='color:lightgrey;height:1px;border:none;background-color:lightgrey;width:50%;align:left;margin-left:0;margin-top:20px;margin-bottom:20px;'
p style='color:grey;' Если Вы не подписывались на нашу рассылку, то не реагируйте на это письмо.
