.alt-grid
  .container
    .row
      .img-for-banner
        h1.hidden-xs.intro-text Поиск вакансий удаленной работы
  .row
    .col-xs-12
      hr

.alt-grid
  .container
    .row
      .col-lg-12
        .subscribe-text = "Получай первым самые актуальные вакансии на почту.&nbsp #{link_to 'Подписаться', new_subscription_path, class: 'link-to-subscribe', rel: 'nofollow' }".html_safe
