.search-button {
  margin-right: 50px;
}

@media (max-width:800px) {
  .search-button {
    margin-right: 5px;
  }
}

.btn {
  border-radius: 0px;
  text-shadow: 0 1px 1px rgba(0,0,0,.35);
}

.submit-form-button {
  margin-top: 40px;
}

.new-job-link {
  background: #f93;
}

.new-job-link:hover, :target {
  background: #ff9500;
}

@media (max-width:800px) {
  .new-job-link {
    display:none;
   }
}

.form-borders {
  border-radius: 0px;
  -webkit-appearance: none;
}
