.filter-form {
  border: 1px solid #ccc;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0 0 20px #ccc;
  margin-top: -25px;
}

@media screen and (min-width: 600px) {
  .filter-form {
    margin-top: 15px;
  }
}

.filter-form-checkbox-text {
  margin-left: 25px;
  font-weight: normal;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: -5px;
}

input[type='checkbox'] {
    position: absolute;
    margin-top: 0px;
    cursor: pointer;
    width: 19px;
    height: 19px;
    vertical-align: middle;
}

.job-category-filter {
  margin-bottom: -5px;
}

.job-categories-block {
  margin-left: -15px;
}

.salary-filter-form {
  width: 130px;
  border: 1px solid #ccc;
  height: 34px;
  padding-left: 10px;
}

.js-example-basic-multiple {
  width: 100%;
}

.select2-container .select2-selection{
  border-radius: 0px;
}

.categories-in-filters {
  margin-top: 10px;
}

.filter-label {
  margin-bottom: 5px;
  margin-top: 10px;
}

.category-label-margin {
  margin-bottom: 5px;
}

.clear-filter {
  font-size: 15px;
  margin-left: 30px;
}
