* {
margin:0;
}
body {
 height: 100%;
}
html {
 position:relative;
 min-height:100%;
}
#container {
 padding-top: 200px;
 padding-bottom: 100px;
}
#footer {
 background-color: black;
 height: 230px;
 position: absolute;
 bottom: 0;
 width: 100%;
}

.copywright {
  color: grey;
}

.company-name {
  color: white;
}

.footer-text-padding {
  margin-top: 60px;
}

.footer-left-padding {
  margin-left: 15px;
}

.footer-links {
  color: white;
}
