.home-page-h2-styles, .h2-new-page-margins  {
  color: #c00;
}

.job-category-home-page, .job-category-title-show-page {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #c00;

  a:hover {
    text-decoration: none;
    color: #c00;
  }
}

.h2-new-page-margins {
  margin-bottom: 40px;
}

@media screen and (max-width: 800px) {
  h1 {font-size: 30px;}
}

.tag-h1 {
  font-size: 24px;
}
