.createon-date, .createon-date-small-width {
  text-align: right;
}

.company-name-in-item, .createon-date, .createon-date-small-width {
  color: grey;
  font-size: 15px;
}

.show-page-link {
  color: #39c;
  text-decoration: underline;
  font-size: 19px;
  font-weight: bold;
}

hr {
  margin-top: -5px;
  border: none;
  background-color: lightgrey;
  height: 1px;
}

.item-margin {
  margin-top: -12px;
}

.custom-item-hr {
  margin-top: 20px;
  margin-bottom: 15px;
}

.item-hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

.custom-item-description {
  font-size: 15px;
}

@media screen and (min-width: 500px) {
  .createon-date-small-width {
    display:none;
  }
}

@media screen and (max-width: 500px) {
  .createon-date {
    display:none;
  }
}

.tags {
  font-size: 15px;
  margin-bottom: 10px;
}

.tags a {
  color: grey;
  text-decoration: underline;
}


.link-to-index-page {
  margin-top:  -15px;
  margin-bottom: 10px;
}

.h3-item-margin {
  margin-top: -10px;
}
