.show-page-createon-date {
  color: grey;
  text-align: left;
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 13px;
  margin-bottom: -30px;
  letter-spacing: 3px;
}

.apply {
  clear: both;
  padding: 0px 20px 15px 20px;
  overflow: hidden;
  margin: 30px 0;
  background-color: #efefef;
}

.link-to-categorised-page {
  text-align: right;
}

.pagination-paddings {
  text-align: center;
}

.show-page-hr {
  margin-top: 30px;
}

.header-show-page {
  font-weight: 600;
  font-size: 26px;
  margin-top: 20px;
}

.subscribe-job-show-page-text {
  margin-top: 30px;
}

.subscribe-show-page-link {
  font-weight: 600;
  text-decoration: underline;
}

.job-categories-links {
  font-size: 12pt;
}

.header-show-page-margins {
  margin-top: 40px;
}

.archived-job {
  font-size: 30px;
  color: grey;
  margin-top: -10px;
  margin-bottom: -10px;
}
