.new-page-title {
  // margin-left: 60px;
  margin-top: 15px;
}

.new-page-line {
  margin-top: 30px;
}

.new-page-columns-styles {
  text-align: left;
  font-weight: 100;
}

select.form-control {
  border-radius: 0px;
}
