.img-for-banner {
  background-image: image-url('main-banner-3.png');
  height: 141px;
  width: 100%;
  float: left;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   background-position: center;
   margin-bottom: 23px;
   margin-top: -27px;
}

.intro-text {
  color: white;
  font-size: 35px;
  font-weight: 400;
  margin-left: 70px;
  text-align: left;
  line-height: 1.4em;
  margin-top: 80px;
}

.intro-text-small {
  color: grey;
  font-size: 15pt;
  padding-top: 12px;
  padding-bottom: 18px;
}

.logo {
  text-decoration: none;
  color: grey;
  font-size: 25pt;
  font-weight: 400;
}

.logo-margins {
  padding-top: 10px;
  padding-bottom: 20px;

  a:hover {
    text-decoration: none;
    color: grey;
  }
}

.small-main-page-banner {
  margin-bottom: -10px;
}

.alt-grid [class*="col-"] {padding-left:0;padding-right:0}
.alt-grid .row {margin-left:0;margin-right:0}

/* container adjusted */
.alt-grid .container {width:100%;max-width:none;padding:0;}

.subscribe-text {
  background-color: #39c;
  color: white;
  margin-top: -40px;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-text {
    margin-left: -90px;
  }
}

@media screen and (min-width: 820px) and (max-width: 991px)  {
  .subscribe-text {
    margin-left: -90px;
  }
}

.link-to-subscribe {
  color: white;
  font-weight: 600;
  text-decoration: underline;
}

.link-block {
  margin-top: 20px;
  font-size: 20px;

  a:hover {
    text-decoration: none;
    color: black;
  }
}

.header-link {
  color: grey;
}

@media screen and (max-width: 4px) {
  .hidden {
    display: none;
  }
}
