.page-description-text {
  font-size: 12pt;
  margin-top: 20px;
  // margin-left: 30px;
}

.page-description-title {
  font-size: 12pt;
  font-weight: 600;
}

.home-page-margins {
  margin-left: 0px;
}
