.navbar-search-form {
  border-radius: 0px;
  margin-top: 16px;
  margin-left: 20px;
}

.nav-search-field {
  cursor: auto;
  width: 270px;
  border-radius: 0px;
  background-color: #efefef;
  color: black;
}

.search-form-paddings {
  margin-top: 15px;
}

.nav-search-form-xs {
  margin-left: -20px;
  margin-top: -20px;
  margin-bottom: 25px;
  width: 107%;
}
