//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "activeadmin_addons/all";
@import "active_admin/mixins";
@import "active_admin/base";
@import "trix";
@import "custom_trix";
@import "select2";
@import "select2-bootstrap";

trix-editor, trix-toolbar { width: calc(77%); margin-left: 20%; }

trix-toolbar .button_group { border: 0; width: calc(50%); }
trix-editor { background: #fff; }

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
