/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "trix";
@import "custom_trix";
@import "main_banner";
@import "footer";
@import "item";
@import "button";
@import "headers";
@import "job_show_page";
@import "job_new_page";
@import "search";
@import "errors";
@import "page_description";
@import "articles";
@import "select2";
@import "select2-bootstrap";
@import "filters";

@font-face {
  font-family: 'Proxima';
  src: font-url('proxima.otf') format("truetype");
}

body {
  font-family: 'Proxima';
  font-size: 18px;
  overflow-x: hidden !important;
}

img {
  max-width: 100%;
}

.subscription-label-paddings {
  margin-top: 10px;
}

.home-page-link {
  margin-top: 10px;
}
