trix-toolbar .trix-button-group {
  button.trix-button--icon-code, button.trix-button--icon-bullets, button.trix-button--icon-decrease, button.trix-button--icon-increase-nesting-level,
  button.trix-button--icon-heading-1, button.trix-button--icon-strike {
    display: none;
  }

  .button_row {
    display: float;
  }
}

trix-editor {
  min-height: 200px;
  border-radius: 4px;
  margin-bottom: 15px;
}
