= bootstrap_form_for jobs_path, method: 'get' do |f|
  - unless controller_name == 'job_categories' && action_name == 'show'
    .row.categories-in-filters
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .filter-label
          = f.label t('.categories')
        .job-categories-block
          - @job_categories.each do |cat|
            .col-lg-6.col-md-6.col-sm-12.col-xs-6.job-category-filter
              - if params[:by_category].present?
                - if params[:by_category].include? cat.id.to_s
                  = check_box_tag 'by_category[]', cat.id,
                    html_options = { checked: true }
                - else
                  = check_box_tag 'by_category[]', cat.id
              - else
                .filter-form-checkbox
                  = check_box_tag 'by_category[]', cat.id
              .filter-form-checkbox-text
                = cat.short_title
              br

  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.filter-label
      = f.label t('.salary_min')
    .col-lg-6.col-md-6.col-sm-6.col-xs-6
      = text_field_tag :salary_min, params[:salary_min], class: 'salary-filter-form'
    .col-lg-6.col-md-6.col-sm-6.col-xs-6
      = select_tag :by_currency,
        options_for_select([['Руб.', 'RUR'], ['USD', 'USD'], ['EUR', 'EUR']], selected: params[:by_currency]), class: 'form-control selectpicker'

  .row
    .col-lg-12.col-md-12.col-sm-12.col-s-12
      .filter-label
        = label_tag :tagged_with_id, t('.skills')
      = select_tag 'by_tags[]',
        options_for_select(ActsAsTaggableOn::Tag.all.order(:name), params[:by_tags]),
        html_options = {class: 'js-example-basic-multiple', multiple: 'multiple'}

  .row
    .col-lg-12
      .filter-label
        = f.label t('.employment')
    .col-lg-12
      = select_tag :by_employment,
        options_for_select([['Любая', nil], ['Полная', 'full'], ['Частичная', 'part'], ['Проектная работа', 'project'], ['Стажировка', 'probation'], ['Волонтерство', 'volunteer']], selected: params[:by_employment]), class: 'form-control selectpicker'


  - if params[:query].present?
    = hidden_field_tag :query, params[:query]

  br
  .row
    .col-lg-12.col-md-12
      = f.submit t('.show'), name: nil
      - if controller_name == 'job_categories' && action_name == 'show'
        = link_to t('.clear_filter'), job_category_url(job_cat), class: 'clear-filter'
      - elsif controller_name == 'search' && action_name == 'index'
        = link_to t('.clear_filter'), '/search', class: 'clear-filter'
      - else current_page?(root_path) && request.query_string.present?
        = link_to t('.clear_filter'), root_url, class: 'clear-filter'
  br
