.container
  .row
    .col-lg-7.col-lg-offset-2
      - flash.each do |type, message|
        - errors_keys = ['error', 'alert']
        = content_tag :div, class: "alert alert-#{ errors_keys.include?(type) ? "danger" : "success" } alert-dismissable fade in", role: "alert"  do
          button.close type="button" data-dismiss="alert"
            span aria-hidden="true"
              | &times;
            span.sr-only
              | Close
          = message
