div id='container'
  div id='footer'
    .row
      .col-lg-5.col-md-6.col-sm-8.col-xs-10.col-lg-offset-1.col-md-offset-1
        .footer-text-padding.footer-left-padding
          td == "#{link_to 'Сервис поиска удаленной работы Twikle', root_path, class: 'footer-links company-name'} Copyright © 2017"

    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-10.col-lg-offset-1.col-md-offset-1
        = link_to 'Подписаться на новые вакансии', new_subscription_url, class: 'footer-links footer-left-padding', rel: 'nofollow'
    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-10.col-lg-offset-1.col-md-offset-1
        = link_to 'Связаться с нами', new_contact_message_url, class: 'footer-links footer-left-padding', rel: 'nofollow'
    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-10.col-lg-offset-1.col-md-offset-1
        = link_to 'Создать вакансию', new_job_url, class: 'footer-links footer-left-padding', rel: 'nofollow'

    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-10.col-lg-offset-1.col-md-offset-1
        = link_to 'Статьи', articles_url, class: 'footer-links footer-left-padding'
