.container.hidden-sm.hidden-md.hidden-lg
  .row
    .col-xs-12.col-lg-10
      table.small-main-page-banner
        tr
          td.logo-margins
            = link_to 'Twikle', root_path, class: 'logo'
          td.intro-text-small &nbsp;- удаленные вакансии
      hr

.container.hidden-xs
  .row
    .col-xs-3.col-lg-1.col-md-2.col-sm-2
      .logo-margins
        = link_to 'Twikle', root_path, class: 'logo'
    .col-xs-9.col-lg-5.col-md-6.col-sm-7
      = render 'search/search_nav'
    .col-lg-1.col-lg-offset-4.col-md-1.col-md-offset-2.col-sm-2.col-sm-offset-1
      .link-block
        = link_to 'Подписаться', new_subscription_url, class: 'header-link', rel: 'nofollow'
    .col-xs-12.offset-xs-1
      hr

.container.hidden-sm.hidden-md.hidden-lg
  .row
    .col-xs-12.nav-search-form-xs
      = render 'search/search_nav'
