doctype html
html lang="ru"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no"
    title = "#{yield(:title)} | Twikle"
    = stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

    = display_meta_tags

    = javascript_include_tag 'application', 'data-turbolinks-track': true, async: Rails.env.production?
    = favicon_link_tag 'favicon.png'

  body
    = render 'layouts/header'
    - if current_page?(root_path) && request.query_string.blank?
      = render 'layouts/home/header'

    = render partial: 'layouts/flash_messages', flash: flash
    = yield
    = render 'layouts/footer'

    - if Rails.env.production? && !request.user_agent.downcase.match(/speed insights/)
      = render 'layouts/yandex_counter'
      = render 'layouts/google_counter'
